*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parrafo{
    width: 40%;
    height: auto;
    background-color: chocolate;
    color: aliceblue;
    margin: 4% auto;
    padding: 5px;
}
